body {
  margin: 0;
  font-family: Arial;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: black;
  color: white;
  border-bottom: 3px solid blue;
}

.menu {
  display: flex;
  list-style: none;
  gap: 15px;
}

.menu li {
  cursor: pointer;
}

/* Button */
#btnstyle {
  height: 50px;
  width: 80px;
  background-color: white;
  color: black;
}

/* Gallery (IMPORTANT FIX) */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.controls {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}
/*  Mobile Responsive */
@media (max-width: 600px) {

  .navbar {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  #btnstyle {
    width: 100%;
    margin-top: 10px;
  }

  .gallery img {
    max-width: 90%;
    height: auto;
  }

  .lightbox img {
    width: 95%;
  }
  .lightbox {
  display: none;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
}
.lightbox img {
  width: 80%;
  max-width: 600px;
  height: 400px;   /* 👈 fixed height দিলে jump বন্ধ */
  object-fit: cover;
  border-radius: 10px;
}
  button{
    display: flex;

  }
}
